<div class="container">
    <div class="head">
        <h1>Edit Student Details</h1>
    </div>
    <form [formGroup]="editForm!">
        <div class="row my-5 details">
            <div class="col-lg-4 mx-5">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="name">
                    <mat-error
                        *ngIf="editForm?.get('name')?.invalid && editForm?.get('name')?.touched">{{getErrorMessage(name)}}</mat-error>
                </mat-form-field>
                <!-- <mat-hint style="color: red;" *ngIf=" && editForm?.get('studentID')?.dirty&& editForm?.get('studentID')?.touched"><span>*This field is not valid</span></mat-hint> -->
            </div>
            <div class="col-lg-4 mx-5">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required>
                    <mat-error
                        *ngIf="editForm?.get('email')?.invalid && editForm?.get('email')?.touched">{{getErrorMessage(email)}}</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row my-2 details">
            <div class="col-lg-4 mx-5">
                <mat-form-field appearance="outline">
                    <mat-label>Phone</mat-label>
                    <input matInput type="text" formControlName="phone" required>
                    <mat-error
                        *ngIf="editForm?.get('phone')?.invalid && editForm?.get('phone')?.touched">{{getErrorMessage(phone)}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-lg-4 mx-5">
                <mat-form-field appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender">
                        <input matInput placeholder="Placeholder">
                        <mat-option value="Male">Male</mat-option>
                        <mat-option value="Female">Female</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center pe-5 my-4 mx-5 mb-lg-4">
        <button type="submit" class="btn btn-primary btn-lg"
            [disabled]="editForm.invalid" (click)="editStudent()" >Submit</button>
    </div>
</div>